.clothes-section {
  margin: 0;
  padding-left: 100px;
}

.clothes-section__title-container {
  display: flex;
}

.clothes-section__title {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  white-space: nowrap;
  margin: 16px 0;
}

.clothes-section__add-button {
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.clothes-section__add-button:hover {
  opacity: 0.3;
}

@media screen and (max-width: 820px) {
  .clothes-section {
    padding: 20px 0 0;
  }

  .clothes-section__title-container {
    justify-content: space-between;
  }

  .clothes-section__title {
    margin-top: 0;
  }

  .clothes-section__add-button {
    margin: 0 0 16px;
  }
}
