.form {
  padding: 0 28px 28px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.25;
}

.form__input-container {
  display: flex;
  flex-direction: row;
  margin: 0 0 8px;
  position: relative;
}

.form__label {
  margin: 0 0 8px;
}

.form__input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 0;
  margin: 0 0 24px;
}

.form__legend {
  margin: 0 0 12px;
}

.form__fieldset_radio {
  display: flex;
}

.form__label_radio {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}

.form__input_radio {
  width: 16px;
  height: 16px;
  margin: 0 8px 0 0;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.5);
}

.form__input_radio:checked {
  accent-color: #000;
}

.form__input_radio:checked + .form__label_radio {
  color: #000;
}

.form__buttons-container {
  display: flex;
  gap: 12px;
}

.form__submit-button {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin: 8px 0;
  transition: background-color 0.3s ease-in-out;
}

.form__login-button,
.form__signup-button {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: bold;
  margin: 8px auto 8px 0;
}

.form__submit-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.form__submit-button:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

.form__confirm-text {
  color: #000;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  width: 367px;
}

.form__submit-button_type_delete-confirm {
  padding: 0;
  border-style: none;
  color: #ff4d00;
  background-color: transparent;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  cursor: pointer;
  white-space: nowrap;
}

.form__submit-button_type_delete-confirm:hover {
  opacity: 0.6;
  background-color: transparent;
}

@media screen and (max-width: 795px) {
  .form__submit-button_type_garment-form {
    width: 100%;
  }
}
