.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  box-sizing: border-box;
  width: 496px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  border: none;
  border-radius: 20px;
}

.modal__container_type_delete-confirm {
  width: 670px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.modal__close-button {
  width: 20px;
  height: 20px;
  background-image: url("../images/close-icon.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 22px;
  right: 30px;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__image {
  border-radius: 20px 20px 0 0;
}

.modal__info-container_item-v2 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.modal__title-container {
  display: flex;
}

.modal__title {
  margin: 28px 28px 24px;
  color: #000;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
}

.modal__title_type_delete-confirm {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  width: 367px;
  margin: 0;
}

.modal__delete-button {
  color: #ff4d00;
  margin: 20px 32px auto auto;
}

.modal__confirm-delete-button {
  color: #ff4d00;
  margin: 40px 0 24px;
}

.modal__title_item-v1 {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin: 20px 32px 12px;
}

.modal__weather {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 32px 32px;
}

.modal__container_item-v2 {
  flex-direction: row;
  width: 670px;
  height: 368px;
  padding: 20px;
}

.modal__image_item-v2 {
  border-radius: 20px;
}

.modal__title_item-v2 {
  position: absolute;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 2px 12px;
  background-color: #fff;
  border-radius: 4px;
  margin: 0;
  left: calc(25% + 16px);
  top: 47px;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.6);
}

.modal__weather_item-v2 {
  margin: 12px auto auto 28px;
}

.modal__delete-button_item-v2 {
  margin: auto auto 12px 28px;
}

@media screen and (max-width: 795px) {
  .modal__container_type_item {
    max-width: 343px;
  }

  .modal__container_type_garment-form {
    align-self: end;
    border-radius: 20px 20px 0 0;
  }
}
