.page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1360px;
  background-color: #f3f3f3;
}

@media screen and (max-width: 1440px) {
  .page {
    padding: 0 40px;
  }
}

@media screen and (max-width: 774px) {
  .page {
    padding: 0 16px;
  }
}
